/* General styles */
body {
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
  }

header {
    background: #ffffff;
    padding: 20px;
    text-size-adjust: auto;
    text-align: center;
} 

footer {
    background: #ffffff;
    padding: 5px;
    text-size-adjust: auto;
    text-align: center;
} 

footer p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #000000;
    margin-bottom: 0.5em;
    text-align: center;
}

/* Specific h1 wanna be styled*/
header h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #000000;
    margin-bottom: 0.5em;
    text-align: center;
}
  /* Heading styles */
  h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #ffffff;
    margin-bottom: 0.5em;
    text-align: center;
  }
  
  /* Paragraph styles */
  p {
    color: #ffffff;
    line-height: 1.6;
    margin: 0 0 1em;
    text-indent: 20px;
  }
  
  /* Link styles */
  a {
    color: #0066cc;
    text-decoration: none;
  }
  
  strong{
    color:#cc0000;
  }

  a:hover {
    text-decoration: underline;
  }